<div class="container home-page">

  <div class="row">
    
    <%
      memo = 0
      @images.each do |t|
        memo += 1
        if memo != 5
    %>
    <div class="span3 image-tile">
      <a href="<%= image_path(t) %>" class="thumb">
        <img src="<%= t.url.gsub(".gif", "b.jpg") %>" alt="Image <%= t.description %>." />
      </a>
      <!-- .thumb -->
          <% t.tags.each do |k| %>
      <%= link_to k.keyword, search_path + "?search=" + k.keyword + "&commit=Search", :class => "tag" %>
          <% end %>
    </div>
    <!-- .span3 .image-tile -->
    
        <% else %>

    <%= render "shared/search_form" %>
    
    <div class="span3 image-tile">
      <a href="<%= image_path(t) %>" class="thumb">
        <img src="<%= t.url.gsub(".gif", "b.jpg") %>" alt="Image <%= t.description %>." />
      </a>
      <!-- .thumb -->
      <% t.tags.each do |k| %>
      <%= link_to k.keyword, search_path + "?search=" + k.keyword + "&commit=Search", :class => "tag" %>
      <% end %>
    </div>
    <!-- .span3 .image-tile -->
    
        <% end %>
    <% end %>
  </div>
  <!-- .row -->

</div>
<!-- .container .home-page -->