<div class="container">

  <div class="row">
    
    <%
      memo = 0
      @imagearray.each do |t|
        memo += 1
        if memo != 5
    %>
    <div class="span3 image-tile">
      <a href="<%= image_path(t) %>" class="thumb">
        <img src="<%= Image.find_by_id(t).url %>" alt="Image <%= t %>." />
      </a>
      <!-- .thumb -->
          <% Image.find_by_id(t).tags.each do |k| %>
      <%= link_to k.keyword, search_path + "?search=" + k.keyword + "&commit=Search", :class => "tag" %>
          <% end %>
    </div>
    <!-- .span3 .image-tile -->
    
        <% else %>
    <div class="row-clear">
      <div class="span6 offset3 search-form">
        <a href="<%= root_path %>"><h1><span>Reaction GIF</span> Database</h1></a>
        <%= form_tag search_path, :method => "get" do %>
          <%= text_field_tag :search %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>
      <!-- .span4 .offset4 .search-form -->
    </div>
    <!-- .row-clear -->
    
    <div class="span3 image-tile">
      <div class="thumb">
        <img src="<%= Image.find_by_id(t).url %>" alt="Image <%= t %>." />
      </div>
      <!-- .thumb -->
      <% Image.find_by_id(t).tags.each do |k| %>
      <a href="#" class="tag"><%= k.keyword %></a>
      <% end %>
    </div>
    <!-- .span3 .image-tile -->
    
        <% end %>
    <% end %>
  </div>
  <!-- .row -->

</div>
<!-- .container -->