<div class="container">

  <div class="row">
    
    <%
      memo = 0
      @imagearray.each do |t|
        memo += 1
        if memo != 5
    %>
    <div class="span3 image-tile">
      <a href="<%= image_path(t) %>" class="thumb">
        <img src="<%= Image.find_by_id(t).url %>" alt="Image <%= Image.find_by_id(t).description %>." />
      </a>
      <!-- .thumb -->
          <% Image.find_by_id(t).tags.each do |k| %>
      <%= link_to k.keyword, search_path + "?search=" + k.keyword + "&commit=Search", :class => "tag" %>
          <% end %>
    </div>
    <!-- .span3 .image-tile -->
    
        <% else %>

    <%= render "shared/search_form" %>
    
    <div class="span3 image-tile">
      <div class="thumb">
        <img src="<%= Image.find_by_id(t).url %>" alt="Image <%= t %>." />
      </div>
      <!-- .thumb -->
      <% Image.find_by_id(t).tags.each do |k| %>
      <%= link_to k.keyword, search_path + "?search=" + k.keyword + "&commit=Search", :class => "tag" %>
      <% end %>
    </div>
    <!-- .span3 .image-tile -->
    
        <% end %>
    <% end %>
  </div>
  <!-- .row -->

</div>
<!-- .container -->