<div class="container search">

  <div class="row">

    <%= render "shared/search_form" %>
    
    <% if @images.nil? %>
    <div class="span12 search-result">
      <p>No results.</p>
    </div>
    <!-- .span12 .search-result -->
      
    <% else %>
    <div class="span12 search-result">
      <p>Found <%= pluralize(@images.count, "result") %>:</p>
    </div>
    <!-- .span12 .search-result -->
      <% @images.each do |r| %>
    <div class="span3 image-tile">
      <a href="<%= image_path(r) %>" class="thumb">
        <img src="<%= r.url %>" alt="<%= r.description %>" />
      </a>
      <!-- .thumb -->
        <% r.tags.each do |k| %>
      <%= link_to k.keyword, search_path + "?search=" + k.keyword + "&commit=Search", :class => "tag" %>
        <% end %>
    </div>
    <!-- .span3 .image-tile -->
    
      <% end %>
    <% end %>
    
  </div>
  <!-- .row -->

</div>
<!-- .container .search -->