<div class="container images-show">

  <div class="row-clear">
    
    <p>You are editing info for the image (id #<%= @editimage.id %>) found at <a href="<% @editimage.url %>"><%= @editimage.url %></a>.</p>

    <img src="<%= @editimage.url %>" alt="<%= @editimage.description %>" />

    <%= form_for @editimage do |i| %>
      <%= i.label :description %>
      <%= i.text_field :description, :value => @editimage.description %>
      <%= i.label :tags %>
      <%
        # This little function returns the tags and comma-separates them to show user in UI for nice usability.
        editimagetagstring = ""
        memo = @editimage.tags.count
        @editimage.tags.each do |k|
          if memo == 1
            editimagetagstring += k.keyword
          else
            editimagetagstring += k.keyword + ", "
            memo -= 1
          end
        end
      %>
      <%= i.text_field :tags, :value => editimagetagstring %>
      <%= i.submit "Confirm Edits" %>
    <% end %>
    
  </div>
  <!-- .row-clear -->
  
</div>
<!-- .container -->