<div class="container images-show">

  <div class="row-clear">
    
    <p>You are editing info for the image (id #<%= @image.id %>) found at <a href="<% @image.url %>"><%= @image.url %></a>.</p>

    <img src="<%= @image.url %>" alt="<%= @image.description %>" />

    <%= form_for @image do |i| %>
      <%= i.label :description %>
      <%= i.text_field :description, :value => @image.description %>
      <%= i.label :tags %>
      <%
        # This little function returns the tags and comma-separates them to show user in UI for nice usability.
        imagetagstring = ""
        memo = @image.tags.count
        @image.tags.each do |k|
          if memo == 1
            imagetagstring += k.keyword
          else
            imagetagstring += k.keyword + ", "
            memo -= 1
          end
        end
      %>
      <%= i.text_field :tags, :value => imagetagstring %>
      <%= i.submit "Confirm Edits" %>
    <% end %>
    
  </div>
  <!-- .row-clear -->
  
</div>
<!-- .container -->