<div class="container">

  <%= form_for @image do |i| %>
    <%= i.label :url %>
    <%= i.text_field :url, :value => "" %>
    <%= i.label :description %>
    <%= i.text_field :description, :value => "" %>
    <%= i.label :tags %>
    <%= i.text_field :tags, :value => "" %>
    <%= i.submit "Submit Image" %>
  <% end %>

</div>
<!-- .container -->
















